<nav class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="navbar-nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Mission Statement</NavLink>
        <NavLink class="nav-link" href="/lunch-room">Lunch Room</NavLink>
        <NavLink class="nav-link" href="/weather-report">Weather Report</NavLink>
    </div>
</nav>
