@page "/"

<PageTitle>Mission Statement</PageTitle>

<MadLibTitle>Mission Statement</MadLibTitle>

<EditForm class="bg-light border border-1 p-5 mb-5" Model="Words">
  <div class="form-group mb-3">
    <label for="Verb1" class="form-label">Verb 1</label>
    <input class="form-control" id="Verb1"  />
  </div>

  <div class="form-group mb-3">
    <label for="Verb2" class="form-label">Verb 2</label>
    <input class="form-control" id="Verb2" />
  </div>

  <div class="form-group mb-3">
    <label for="Adjective" class="form-label">Adjective</label>
    <input class="form-control" id="Adjective" />
  </div>

  <div class="form-group mb-3">
    <label for="PluralNoun1" class="form-label">Plural Noun 1</label>
    <input class="form-control" id="PluralNoun1" />
  </div>

  <div class="form-group mb-3">
    <label for="PluralNoun2" class="form-label">Plural Noun 2</label>
    <input class="form-control" id="PluralNoun2" />
  </div>

  <div class="form-group mb-3">
    <label for="PluralNoun3" class="form-label">Plural Noun 3</label>
    <input class="form-control" id="PluralNoun3" />
  </div>
  
  <button class="btn btn-primary">Read Story</button>
</EditForm>

@code {
  private class WordsModal {
    public string? Verb1 {get; set;}

    public string? Verb2 {get; set;}

    public string? Adjective {get; set;}

    public string? PluralNoun1 {get; set;}

    public string? PluralNoun2 {get; set;}

    public string? PluralNoun3 {get; set;}


  }

  [SupplyParameterFromForm]
  private WordsModal Words {get;set;} = new();

}
